*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left, magenta, rgb(255, 0, 89),white);
}
main{
    width: 80%;
    margin: 3% auto;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.3) ;
    padding: 20px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet
}
.top h2{
  width: 99%;
}
.top button{
padding: 15px 30px;
background-color:rgba(255, 255, 255, 0.3) ;
font-size: 30px;
}
.hero-sec{
    background-color: white;
    width: 100%;
}
.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid black;
}
.left-btns{
    display: flex;
    justify-content: space-between;
    width: 20%;
    
    :nth-child(1){
        background-color: grey;
    }
    :nth-child(2){
        background-color: green;
    }
    :nth-child(3){
        background-color: red;
    }

button{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
}
}
.right-text{
    width: 50%;
    text-align: right;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h4{
        font-size: 25px;
    }
}